{{ partial "head.html" . }}

<body>
    <div class="main animate__animated animate__fadeInDown">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content">
            <div class="post_page">
                <div class="post animate__animated animate__fadeInDown">
                    <div class="post_title post_detail_title">
                        <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
                        <span class="date">{{ .Date.Format "2006.01.02" }}</span>
                        <div class="meta">
                            <span>
                                Author:
                            </span>
                            <span class="authors">
                                {{ range .Param "authors" }}
                                <a href="{{ "authors" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                {{ end }}
                            </span>
                        </div>
                    </div>
                    <div class="post_content markdown">{{ .Content }}</div>
                    <div class="post_footer">
                        {{ with .Params.tags }}
                        <div class="meta">
                            <div class="info">
                                <span class="field tags">
                                    <i class="ri-stack-line"></i>
                                    {{ range . }}
                                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                    {{ end }}
                                </span>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ partial "footer.html" . }}
</body>

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: '{{ .Site.Params.gitterRoom }}'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

</html>