{{ partial "head.html" . }}

<body>
    <div class="main">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        <div class="content single">
            <div class="post_page">
                <div class="post">
                    <div class="post_title post_detail_title">
                        <h2><a href='{{ .RelPermalink }}'>{{ .Title }}</a></h2>
                        <span class="date">{{ .Date.Format "2006.01.02" }}</span>
                        <span class="social">
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </span>
                        <div class="meta">
                            <span>
                                Author:
                            </span>
                            <span class="authors">
                                {{ range .Param "authors" }}
                                <a href="{{ "authors" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                {{ end }}
                            </span>
                        </div>
                    </div>
                    <div class="post_content markdown">{{ .Content }}</div>
                    <div class="post_footer">
                        <div class="meta">
                            <div class="info">
                                {{ with .Params.tags }}
                                <span class="field tags">
                                    <i class="ri-stack-line"></i>
                                    {{ range . }}
                                    <a href="{{ "tags" | absURL }}/{{ . | urlize }}/">{{ . }}</a>
                                    {{ end }}
                                </span>
                                {{ end }}

                                <hr class="separator1">
                                <h3>Related Posts</h3>
                                {{ $related := .Site.RegularPages.Related . | first 3 }}
                                {{ with $related }}
                                <span class="field related_posts">
                                    {{ range . }}
                                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                    {{ end }}
                                </span>
                                {{ end }}
                                <hr class="separator2">
                                <h3>Recent Posts</h3>
                                {{ $recent := where .Site.RegularPages "Section" "in" (.Site.Params.postSections | default (slice "posts")) | first 3 }}
                                {{ with $recent }}
                                <span class="field recent_posts">
                                    {{ range . }}
                                    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                                    {{ end }}
                                </span>
                                {{ end }}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}
</body>

<script>
  ((window.gitter = {}).chat = {}).options = {
    room: '{{ .Site.Params.gitterRoom }}'
  };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
</html>