<div class="header">
    <div class="site_title_container">
        <div class="site_title">
            <h1>
                <a href="{{ .Site.BaseURL }}">
                    <span>{{ .Site.Title }}</span>
                </a>
            </h1>
        </div>
        <div class="description">
            <div class="my_socials">
                <a href="{{ .Site.RSSLink }}" type="application/rss+xml" title="rss" target="_blank">RSS</a>
                /
                <a href="https://www.google.com/search?&q=site%3A{{ .Site.BaseURL }}">Search</a>
            </div>
        </div>
    </div>
</div>